PORT=4010
ELECTRICITY_SERVICE_URL=http://localhost:4001
GAS_DISTRIBUTION_SERVICE_URL=http://localhost:4002
WATER_SERVICE_URL=http://localhost:4003
WASTE_MANAGEMENT_SERVICE_URL=http://localhost:4004
PAYMENT_GATEWAY_SERVICE_URL=http://localhost:4005
GRIEVANCE_SERVICE_URL=http://localhost:4006
DOCUMENT_SERVICE_URL=http://localhost:4007
NOTIFICATION_SERVICE_URL=http://localhost:4008
AUTH_SERVICE_URL=http://localhost:4009
