PORT=4009
NODE_ENV=development
DATABASE_URL=postgresql://user:password@host:5432/database
JWT_SECRET=change_me
OTP_PROVIDER_URL=https://script.google.com/macros/s/AKfycbwVaewijYkVjInBkoLBWXy5c-FYSWJqc4BR0URsNO1Pu_wlDH6XwpSPkgRS1diVBbd07w/exec
REDIS_URL=rediss://default:<password>@<host>:6379
